@CHARSET "ISO-8859-1";
* {
	margin:0;
	padding: 0;
}

body {
	font-family: verdana;
	font-size:12px;
	margin-left: 50px;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}



.button {
	padding: 3px 5px;
}
.button:hover {
	
}

#container {
	width: 1200px;
	position:relative;
}

button {
	font-size:35px;
}

#main {
	margin-top: 50px;
	margin-bottom: 30px;
}

header {
	height:110px;
	position: relative;
}

header h1 {
	margin-left: 100px;
	padding-top: 50px;
}

header #logo {
	position: absolute;
	top:0px;
	z-index: -1;
}

header #projects {
	position: absolute;
	right: 50px;
	top: 20px;
}

header #search {
	position: absolute;
	right: 50px;
	top: 50px;
}

header #search #searchInput {
	width: 130px;
}

.indicator {
	border:1px solid;
	padding:3px;
	margin:3px 0px;
	margin-top:40px;
	font-weight: bold;
	z-index:20;
}
.alert {
	color:#F00;
}

#addBlock {
	margin: 50px 0px;
}

h2, h3 {
	margin: 10px 0px;
	margin-left: 25px;
}

ul {
	margin: 10px 0px;
}

fieldset {
	padding: 10px;
}
p {
	margin: 10px 0px;
}

.div_block {
	clear: both;
}
.block_content {
	float:left;
	margin-right:20px;
}

.block_actions {
	padding-top: 30px;
	padding-left: 10px;
	clear:right;
}

.check {
	width: 20px;
	min-height: 12px;
	float: left;
	margin-right:5px;
}

.checkbox {
	height: 14px;
	display:block;
	text-align: right;
	margin-top:3px;
}

.div_block textarea {
	float: left;
	font-size: 14px;
}

.clear {
	clear: both;
}

#options fieldset {
	border: 1px dashed #F00;
}

#options legend {
	color: #F00;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
}

.lines {
	border: 1px solid;
	margin-left: 25px;
}
.lines ul {
	list-style-type:none;
	margin-left: 5px;
}

.lines ul li {
	margin-bottom: 2px;
}

.doneBtn {
	display:block;
	margin-left: 25px;
	margin-bottom: 10px;
}

.selected {
	border: 2px solid #F00;
}

#openprojects ul, #closedprojects ul {
	list-style-type:none;
	margin-left: 5px;
	margin-bottom: 20px;
}

#openprojects ul li, #closedprojects ul li {
	margin-bottom: 5px;
}
a.restore {
	position:absolute;
	left: 1200px;
}
.lineli span {
	position:absolute;
	left: 1100px;
}

#myMovie {
	position:absolute;
	right: 10px;
border: 1px solid;
padding: 10px;
	margin-top: -60px;	
}
dt {
	position:absolute;
}
dd {
	margin-left: 100px;
	font-weight:bold;
	width: 600px;
}

#movieImg {
	margin-right: 10px;
float:right;
}
.overviewImg {
	width: 75px;
}
#movieoverview li {
	float:left;
list-style-type:none;
width: 100px;
text-align:center;
height:160px;
}
#movieoverview {
	
}
.movieImgSmall {
	width:50px;
}