.indicator {
	border:1px solid;
	padding:3px;
	margin:3px 0px;
	margin-top:40px;
	font-weight: bold;
	z-index:20;
}
.alert {
	color:#F00;
}

#addBlock {
	margin: 50px 0px;
}



.div_block {
	clear: both;
}
.block_content {
	float:left;
	margin-right:20px;
}

.block_actions {
	padding-top: 30px;
	padding-left: 10px;
	clear:right;
}

.clear {
	clear: both;
}

#options fieldset {
	border: 1px dashed #F00;
}

#options legend {
	color: #F00;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
}

.lines {
	border: 1px solid;
	margin-left: 25px;
}
.lines ul {
	list-style-type:none;
	margin-left: 5px;
}

.lines ul li {
	margin-bottom: 2px;
}

.doneBtn {
	display:block;
	margin-left: 25px;
	margin-bottom: 10px;
}

.selected {
	border: 2px solid #F00;
}

#openprojects ul, #closedprojects ul {
	list-style-type:none;
	margin-left: 5px;
	margin-bottom: 20px;
}

#openprojects ul li, #closedprojects ul li {
	margin-bottom: 5px;
}
a.restore {
	position:absolute;
	left: 1200px;
}
.lineli span {
	position:absolute;
	left: 1100px;
}

#myMovie {
	position:absolute;
	right: 10px;
	border: 1px solid;
	padding: 10px;
	margin-top: -60px;	
}
dt {
	position:absolute;
}
dd {
	margin-left: 100px;
	font-weight:bold;
	width: 600px;
}

#movieImg {
	margin-right: -150px;
	
	float:right;
}
.overviewImg {
	width: 75px;
}
#movieoverview li {
	float:left;
	list-style-type:none;
	width: 100px;
	text-align:center;
	height:180px;
}
#movieoverview {
	
}
.movieImgSmall {
	width:50px;
}

#search form {
	margin:0;
}
#search input {
	 margin-bottom: 0px;
}
.info {
	color: #ccc;
	font-style:italic;
}

.mycolSeasons {
	margin-top:10px;
}

.mycolSeasons label{
	display:inline;
	margin-left: 5px;
}

footer p {
	color: #ccc;
	text-align: center;
	display:block;
}
.active {
	font-weight: bold;
}