
<?php
if (($photo_url = $this->person->photo_localurl() ) != FALSE) {
    echo '<img id="movieImg" src="/person/getimage/?url='.$photo_url.'" alt="Cover">';
} else {
    echo "No photo available";
}
?>
<h3>Algemeen</h3>
<dl>
	<dt>Naam</dt> 
	<dd><?= $this->person->name();?></dd>
	
</dl>

<h3>Actor</h3>
<ul>
	<? $actor = @$this->person->movies_actor();
		if (!$actor) {
			$actor = $this->person->movies_actress();
		}
		for ($i=0;$i<count($actor);$i++) {
			?>
			<li>
			<?php 
			foreach ($this->mymovies as $movies) {
				if ($actor[$i]["mid"] == $movies->getImdbID()) {
					?>
					<img src="/img/star.png" alt="Deze film zit in mijn collectie" title="Deze film zit in mijn collectie" />
					<?php 
				}
			}
			
			?>
			<a href="/movie/show/id/<?= $actor[$i]["mid"];?>">
			<img class="movieImgSmall" src="/movie/getimage/?id=<?= $actor[$i]["mid"]?>" alt="Cover">
			<?= $actor[$i]["name"];?></a> (<?= $actor[$i]["year"];?>)  (<span><?= $actor[$i]["chname"];?></span>)</li>
	<? }?>
</ul>
