<h2><?= $this->user->getLogin()?>'s movie list</h2>
<p>Total <?php echo $this->numAll?> items. <?php echo $this->numShows?> TV shows (<?php echo $this->numSeasons?> seasons) and <?= $this->numMovies?> Movies.</p>
<ul>
	<?php foreach($this->movies as $movie) {?>
	<li>
		<a href="/movie/show/id/<?= $movie->getImdbID()?>"><?= $movie->getTitle();?></a>
		<?php if($movie->getType() == App_Model_Movie::TYPE_TVSHOW) {?>
			(seasons
			<?php 
				$seasons = $movie->getSeasons();
				$seasons = explode(",", $seasons);
				$newSeasons = array();
				foreach ($seasons as $s) {
					$s = trim($s);
					if(!empty($s)) {
						$newSeasons[] = $s;
					}
				}
				sort($newSeasons);
				echo implode(',',$newSeasons);
			?>)
		<?php }?>
	</li>
	<?php }?>
</ul>