<h2>My collection</h2>
<p>
	You have a total of <?php echo $this->numAll?> items in your collection. <?php echo $this->numShows?> TV shows (containing <?php echo $this->numSeasons?> seasons) and <?= $this->numMovies?> Movies.
	
</p>
<p>
	Your public URL is: <a href="<?php echo $this->serverUrl()?>/my/<?php echo $this->user->getLogin();?>"><?php echo $this->serverUrl()?>/my/<?php echo $this->user->getLogin();?></a>
</p>
<hr>
<h3>Filter</h3>
<p>
	Show: <a href='/movie/index/filter/movies' <? if($this->filter == "movies"){?>class="active"<?}?>>Movies</a> &ndash; 
	<a href='/movie/index/filter/tvshows' <? if($this->filter == "tvshows"){?>class="active"<?}?>>TV Shows</a>
</p>
<p>
	Minimum rating: 
	<?php for ($i=1;$i<=9;$i++) {?>
		<a href='/movie/index/filter/rating/minrating/<?= $i?>'
		<? if($this->minRating == $i ){?>class="active"<?}?>><?= $i?></a>
	<?php }?>
</p>
<hr>
<?php 
if ($this->movies) {
	?>
	<ul id="movieoverview">
	<?php 
	foreach ($this->movies as $movie) {
		?>
		<li>
			<a href="/movie/show/id/<?= $movie->getImdbID();?>" title="<?= $movie->getTitle();?>">
		<?php
			if ($movie->getImg()) {
			    echo '<img class="overviewImg" src="/movie/getimage/?url='.$movie->getImg().'" alt="Cover"><br/>';
			} ?>
		<?= $movie->getTitle();?></a>
		</li>
		<?php 
	}
	?>
	</ul>
	<?php 
}

?>