<h2>Search for movies & tv shows</h2>
<p>
	Here you can search for movies and tv shows to add them to your collection.
</p>
<p>&nbsp;</p>
<form action="/movie/search" method="POST">
	<p>
		<label>Search term</label>
		<input type="text" name="q" value="<?php echo $this->q?>" />
	</p>
	<p>
		<input type="submit" value="Search already!" />
	</p>
</form>


<?php 
if ($this->movies) {
	?>
	<h3>Here are your results:</h3>
	<p>&nbsp;</p>
	<ul>
	<?php 
	foreach ($this->movies as $movie) {
		?>
		<li>
			<?php 
			foreach ($this->mymovies as $movies) {
				if ($movie->imdbId() == $movies->getImdbID()) {
					?>
					<img src="/img/star.png" alt="Deze film zit in mijn collectie" title="Deze film zit in mijn collectie" />
					<?php 
				}
			}
			
			?>
			<a href="/movie/show/id/<?php echo $movie->imdbId();?>"><?php echo $movie->title()?> (<?php echo $movie->year()?>)</a>
		</li>
		<?php 
	}
	
	?>
	</ul>
	<p class="info">
		We only show the first 10 results. If you can't find wthat you are looking for, change the search terms.
	</p>
	<?php
	
}
?>