
<h2><?= $this->movie->movietype() .' :: ' . $this->movie->title() ?></h2>
<?php 
if ($this->movie) {
	if ($this->myMovie) {
		?>
		<div id="myMovie">
		<h4>My collection</h4>
		Already added! (<?= $this->myMovie->getAdded();?>)<br><br>
			<a href="/movie/remove/id/<?= $this->myMovie->getId(); ?>" class="btn btn-danger">Remove from my collection</a><br>
			<? if (trim($this->movie->movietype()) == "TV Series") {?>
				<hr>
				<h4>Season overview</h4>
				<ul class="mycolSeasons">
				<?php 
				$seasons = explode(",", $this->myMovie->getSeasons());
				for($i=1;$i<=$this->movie->seasons();$i++) {
					if (in_array($i, $seasons)) {
						$checked = "checked='checked'";
					} else {
						$checked = "";
					}
					?>
					<li><input type="checkbox" id="season_<?= $i?>" value="checked" class="seasonChk" <?=$checked;?>><label for="season_<?= $i?>">season <?php echo $i;?></label></li>
					<?php
				}
				?>
				</ul>
			<? }?>
		</div>
	<?php 
	} else {
		?>
		<div id="myMovie">
			<h4>My collection</h4>
			<p>Not in my collection<br><br>
			<a href="/movie/add/id/<?= $this->movie->imdbId(); ?>" class="btn btn-success">Add it now</a>
			</p>
		</div>
		<?php 
	}
	
	?>
	<?php
	if (($photo_url = $this->movie->photo() ) != FALSE) {
	    echo '<img id="movieImg" src="/movie/getimage/?url='.$photo_url.'" alt="Cover">';
	} else {
	    echo "No photo available";
	}
	?>
	<dl>
		<dt>Year</dt>
		<dd><?= $this->movie->year();?></dd>
		<dt>Type</dt>
		<dd><?= $this->movie->movietype(); ?></dd>
		<? if (trim($this->movie->movietype()) == "TV Series") {?>
		<dt>Seasons</dt>
		<dd><?= $this->movie->seasons();?></dd>
		<? }?>
		<dt>Rating:</dt>
		<dd><?= $this->movie->rating(); ?> (<?= $this->movie->votes();?> votes)</dd>
		<dt>Genre</dt>
		<dd><?= $this->movie->genre(); ?></dd>
		<dt>Plot</dt>
		<dd><?= reset($this->movie->plot()); ?></dd>
	</dl>
	<h3>Staff</h3>
	<dl>
		<dt>Director</dt>
		<dd>
			<? $director = $this->movie->director();	
				for ($i=0;$i<count($director);$i++) {?>
					<?= $director[$i]["name"];?>
			<? }?>
		</dd>
		<dt>Writer</dt>
		<dd>
			<? $writer = $this->movie->writing();	
				for ($i=0;$i<count($writer);$i++) {?>
					<?= $writer[$i]["name"];?>
			<? }?>
		</dd>
		<dt>Producer</dt>
		<dd>
			<? $producer = $this->movie->producer();	
				for ($i=0;$i<count($producer);$i++) {?>
					<?= $producer[$i]["name"];?>,
			<? }?>
		</dd>
		<dt>Music</dt>
		<dd>
			<? $composer = $this->movie->composer();	
				for ($i=0;$i<count($composer);$i++) {?>
					<?= $composer[$i]["name"];?>
			<? }?>
		</dd>
	</dl>
	<h3>Cast</h3>
	<ul>
		<? $cast = $this->movie->cast();	
			for ($i=0;$i<count($cast);$i++) {
// 			if ($i > 25) continue;
				?>
				<li>
					<!--  <img class="movieImgSmall1" src="/person/getimage/?id=<?= $cast[$i]["imdb"]?>&thumb=true" alt="Cover">  -->
					<a href="/person/show/id/<?= $cast[$i]["imdb"];?>"><?= $cast[$i]["name"];?></a>  &nbsp; <span><?= $cast[$i]["role"];?></span>
				</li>
		<? }?>
	</ul>
<?php 	
}
?>
<script>
	var params = {
		<?
		if ($this->myMovie) { ?>
		id: <?= $this->myMovie->getId();?>
		<? }?>
	}
</script>