<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>MovieDB</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/css/jquery-ui.css" />
  <link rel="stylesheet" href="/css/jquery.lightbox.css" />
  <!-- end CSS-->
  

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  <?php echo $this->headScript() ?>
  </head>

<body>

  <div id="container">
    <header>
		<h1><a href="/">MovieDB</a></h1>
		<div id="search">
			<form action="/movie/search" method="post">
				<input type="text" id="searchInput" name="q">
				<input type="submit" class="button" value="Search" />
			</form>
		</div>
		<div id="menu">
			<ul>
			<?php 
			$zs = new Zend_Session_Namespace("user");
			if ($zs->userID >= 1) {
				?>
				<li><a href="/">Home</a></li>
				<li><a href="/movie/index">Mijn collectie</a></li>
				<li><a href="/movie/search">Zoeken</a></li>
				<li><a href="/user/logout">Afmelden</a></li>
				<?php
			} else {
				?>
				<li><a href="/user/login">Aanmelden</a></li>
				<?php 
			}
			
			?>
			</ul>
		</div>
    </header>
		<div id="main" role="main">
			<?php echo $this->layout()->content; ?>
		</div>
    <footer>
		
    </footer>
  </div> <!--! end of #container -->

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>