<?$zs = new Zend_Session_Namespace("user"); ?>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pegasuz' Movie Database</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/screen.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Movie Database</a>
          <?php 
          
          if ($zs->userID >= 1) { ?>
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> <?= $zs->login?>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/user/profile">Profile</a></li>
              <li><a href="/my/<?= $zs->login?>" target="_blank">Public profile</a></li>
              <li class="divider"></li>
              <li><a href="/user/logout">Sign Out</a></li>
            </ul>
          </div>
          <?php }?>
          <?php if ($zs->userID >= 1) { ?>
          <div id="search" class="btn-group pull-right">
         	<form action="/movie/search" method="post">
				<input type="text" id="searchInput" name="q" value="<?php echo $this->q?>">
				<input type="submit" class="button" value="Search" />
			</form>
          </div>
          <?php }?>
          <div class="nav-collapse">
            <ul class="nav">
            <?php  if ($zs->userID >= 1) {?>
              <li class="/"><a href="#">Home</a></li>
              <li><a href="/movie/index">My collection</a></li>
              <li><a href="/movie/search">Search</a></li>
              <?php } ?>
              <?php  if ($zs->admin == true) {?>
               <li><a href="/admin">Admin</a></li>
              <?php }?>
            </ul>
          </div><!--/.nav-collapse -->
          
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
<!--           <div class="well sidebar-nav"> -->
<!--             <ul class="nav nav-list"> -->
<!--               <li class="nav-header">Sidebar</li> -->
<!--               <li class="active"><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li class="nav-header">Sidebar</li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li class="nav-header">Sidebar</li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--               <li><a href="#">Link</a></li> -->
<!--             </ul> -->
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span13">
<!--           <div class="hero-unit"> -->
<!--             <h1>Hello, world!</h1> -->
<!--             <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p> -->
<!--             <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
<!--           </div> -->
          
			<?php echo $this->layout()->content; ?>
        
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; <?= date("Y")?> Pegasuz (Pieter Meyvaert) &ndash; @Pegasuz_</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  	<?php echo $this->headScript() ?>
  </body>
</html>
