<h2>Login to access this application</h2>
<p>
	You need a username and password to use this application.<br />
	If you don't have one, but desperately want one, contact me <a href="https://twitter.com/Pegasuz_" target="_blank">@Pegasuz_</a>!
</p>
<p>&nbsp;</p>
<?php echo $this->form;?>