<h2>Edit user :: <?php echo $this->user->getLogin();?></h2>

<?php echo $this->form?>
<p>
<a href="/admin/delete-user/id/<?= $this->user->getUserID()?>" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete this user</a>
</p>
<p>
<a href="/admin" class="btn"><i class="icon-arrow-left"></i> Back to admin dashboard</a>
</p>