<h2>Hello admin</h2>
<p>
	This is the dashboard for the cool administrators.
</p>
<h3>Administrative tasks</h3>
<ul>
	<li><a href="/admin/add-user" class="btn"><i class="icon-plus-sign"></i>Add new user</a></li>
</ul>
<hr>
<h3>User list</h3>

<ul>
	<?php foreach($this->users as $user) {?>
	<li>
		<i class="icon-pencil"></i>
		<a href="/admin/edit-user/id/<?= $user->getUserID()?>"><?= $user->getLogin();?></a>
		<?php if ($user->isAdmin()) {?>(admin)<?php }?>
	</li>
	<?php }?>
</ul>